<!DOCTYPE html>
<html>
<head>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.0.min.js"></script>
    <link rel="stylesheet" href="../static/styles.css">

</head>
<body>
    <div class="menu">
        <h1>Menu</h1>
    </div>

    <h5 class="menu_btn" id="click_search">Search a student</h5>
    <div class="search">
        <h2>Search a student</h2>
        Student ID:
        <br>
        <input id="user_id" type="text" name="id">
        <br>
        <button class="btn">Search</button>
    </div>

    <h5 class="menu_btn" id="click_add">Add a new student</h5>
    <div class="add">
        <h2>Add a new student</h2>
        <br>
        Student ID:
        <input id="user_id" type="text" name="id">
        <br>
        Full name:
        <input id="user_name" type="text" name="name">
        <br>
        Phone:
        <input id="user_phone" type="tel" name="phone">
        <br>
        Birthdate:
        <input id="user_birth" type="date" name="birthdate">
        <br>
        <button class="btn">Add student</button>
    </div>

    <h5 class="menu_btn" id="click_edit">Modify a student</h5>
    <div class="edit">
        <h2>Edit a student</h2>
        <br>
        Student ID:
        <input id="user_id" type="text" name="id">
        <br>
        Full name:
        <input id="user_name" type="text" name="name">
        <br>
        Phone:
        <input id="user_phone" type="tel" name="phone">
        <br>
        Birthdate:
        <input id="user_birth" type="date" name="birthdate">
        <br>
        <button class="btn">Edit student</button>
    </div>

    <h5 class="menu_btn" id="click_remove">Remove a student</h5>
    <div class="remove">
        <h2>Remove a student</h2>
        Student ID:
        <br>
        <input id="user_id" type="text" name="id">
        <br>
        <button class="btn">Remove student</button>
    </div>
    <script src="../static/user_script.js"></script>
</body>
</html>